@using Core

@inject IInteropService Interop;
@inject IHeroApi API;
@inject ILogger Logger;

@page "/badges"

<div class="page-header">
    <h1>Badges</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">All</h3>
    </div>
    <div class="panel-body" style="width: 100%">
        <div class="d-flex flex-wrap justify-content-start">
            @for (int i = 0; i < @modelLength; i++)
            {
<div class="d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-center">
        <div href="#" class="thumbnail achievement-badge">
            <img src="@model[i].imageUrl" alt="..." width="64px" height="64px">
            <div>@model[i].name</div>
            <span class="label label-warning">@model[i].cost coins</span>
        </div>
    </div>
</div>}
        </div>
    </div>
</div>

@code {
    BadgeModel[] model;
    int modelLength = 0;
    protected override async Task OnParametersSetAsync()
    {
        if (modelLength == 0)
        {
            model = await API.GetBadges();
            modelLength = model.Length;
        }
    }
}