@page "/leaderboard"

@using Core

@inject IInteropService Interop


<div class="page-header">
  <h1>Leader Board</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-8 d-flex flex-column justify-content-start">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Choose a skill
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Programming</a></li>
                    <li><a href="#">Communication</a></li>
                    <li><a href="#">Bugfixing</a></li>
                </ul>
            </div>
            <div>
                <canvas id="myChart" width="600" height="600"></canvas>
            </div>
        </div>
        <div class="col-4 d-flex flex-column justify-content-start">
            <div>
                <h2>Top 3 leaders:</h2>
            </div>
            <div>
                <ul class="list-group">
                    @for (int i = 0; i < 3; i++) {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-start">
                            <div class="d-flex flex-column justify-content-center">
                                <div href="#" class="thumbnail achievement-badge badge-select leaderboard-icon">
                                    <img src="https://aj-heroportal-files.s3.amazonaws.com/Elf.png" alt="..." width="32px" height="32px">
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                Miahkov Andrei
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)  
    {
        if (firstRender) 
        {
            await Interop.InitUIComponents();
        }
    }
}